<a href="https://colab.research.google.com/github/ngozanlouisano/atom-script/blob/master/Statistiques_descriptives.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

installer yfinance

In [1]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.18)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.7)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.10/dist-packages (from yfinance) (40.0.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [10]:
# Importer les librairies
import numpy as np
import pandas as pd
import yfinance as yf
from scipy.stats import skew, kurtosis

In [11]:
# Importer nos données
df = yf.download("GOOG") ["Adj Close"].pct_change(1).dropna()
df

[*********************100%***********************]  1 of 1 completed

Date
2004-08-20    0.079430
2004-08-23    0.010064
2004-08-24   -0.041408
2004-08-25    0.010775
2004-08-26    0.018019
                ...
2023-05-08    0.019065
2023-05-09   -0.002772
2023-05-10    0.040207
2023-05-11    0.041147
2023-05-12    0.004619
Name: Adj Close, Length: 4715, dtype: float64

**Mesure de tendance centrale**

**Mean** (moyenne): elle permt d'avoir un résumé basique des données

In [12]:
#--------Mean with numpy------------------
mean = np.mean(df, axis=0)*100  # Moyenne journalière
print(f"Daily Mean: {'%.2f' % mean} %")

# Annualization of the mean return / rendement annuel
annuel_mean = mean * 252  # 252 jour dans l'exercice comptable dans l'année
print(f"Mean Annuel: {'%.2f' % annuel_mean} %")

# Day mean return ---> monthly mean return / Mois 
monthly_mean = mean * 21 # 21 jour dans l'exercice comptable dans le mois
print(f"Mean Monthly: {'%.2f' % monthly_mean} %")

Daily Mean: 0.10 %
Mean Annuel: 25.31 %
Mean Monthly: 2.11 %

**Median** : c'est de trouver la tendance centre d'un échantillon.

In [13]:
#--------Median with numpy------------------
median = np.median(df, axis=0) * 100  # la mediane 
print(f"Daily Median: {'%.2f' % median} %")

Daily Median: 0.07 %

**Percentile** : c'est une mésure un peu similaire à celle de la médiane

In [14]:
#--------Percentile with numpy------------------
percentile_10 = np.quantile(df,0.10 , axis=0) * 100
print(f"Percentile 10%: {'%.2f' % percentile_10} %")


percentile_50 =np.quantile(df,0.50 , axis=0) * 100
print(f"Percentile 50%: {'%.2f' % percentile_50} %")


percentile_99 = np.quantile(df,0.99 , axis=0) * 100
print(f"Percentile 99%: {'%.2f' % percentile_99} %")

Percentile 10%: -1.94 %
Percentile 50%: 0.07 %
Percentile 99%: 5.73 %

***Variance *** : est la mésure de dispersion des données. Plus la vairance est élevée, plus les valeurs sont éloignées(dispersées autour de la moyenne

In [15]:
#--------variance with numpy------------------
var = np.var(df, axis=0) * 100
print(f"Variance: {'%.2f' %var } %")

Variance: 0.04 %

**Ecart-type** : c'est une haute valeur, pour calculer la dispersion d'un échantillons autour de la moyenne.

In [16]:
#--------Standard-Deviation with numpy------------------
std = np.std(df, axis=0) * 100  
print(f"Daily Volatility: {'%.2f' % std} %")

# Annualization of the mean return / rendement annuel
annuel_std = std * np.sqrt(252)  
print(f"Yearly Volatility: {'%.2f' % annuel_std} %")

# Day mean return ---> monthly mean return / Mois 
monthly_std = std * np.sqrt(21) 
print(f"Monthly Volatility: {'%.2f' % monthly_mean} %")

Daily Volatility: 1.94 %
Yearly Volatility: 30.87 %
Monthly Volatility: 2.11 %

**Covariance**:
 permet de comprendre les relations entre deux échantillons

In [24]:
df = yf.download(["GOOG", "EURUSD=x", "msft", "AMZN", "TSLA"]) ["Adj Close"].pct_change(1).dropna()
df

[*********************100%***********************]  5 of 5 completed

                AMZN  EURUSD=X      GOOG      MSFT      TSLA
Date
2010-06-30  0.005985  0.003584 -0.020495 -0.012870 -0.002511
2010-07-01  0.015559  0.022689 -0.012271  0.006519 -0.078473
2010-07-02 -0.016402  0.005079 -0.006690  0.004749 -0.125683
2010-07-05  0.000000 -0.002708  0.000000  0.000000  0.000000
2010-07-06  0.008430  0.006943 -0.001100  0.023636 -0.160937
...              ...       ...       ...       ...       ...
2023-05-08  0.001609 -0.000386  0.019065 -0.006438  0.010173
2023-05-09  0.007465 -0.002045 -0.002772 -0.005346 -0.015368
2023-05-10  0.033483 -0.002862  0.040207  0.017296 -0.003606
2023-05-11  0.018060  0.001768  0.041147 -0.007044  0.021004
2023-05-12 -0.022375 -0.011820  0.003593 -0.009996 -0.025016

[3358 rows x 5 columns]

In [29]:
# Variance Covariance matrix
mat = np.cov(df, rowvar=False)
pd.DataFrame(mat, columns=df.columns, index=df.columns)

              AMZN      EURUSD=X          GOOG          MSFT      TSLA
AMZN      0.000419  3.665416e-06  2.091941e-04  1.882063e-04  0.000256
EURUSD=X  0.000004  2.969187e-05 -6.782496e-07 -8.021469e-07 -0.000002
GOOG      0.000209 -6.782496e-07  2.862259e-04  1.787841e-04  0.000200
MSFT      0.000188 -8.021469e-07  1.787841e-04  2.625513e-04  0.000202
TSLA      0.000256 -2.390061e-06  1.999678e-04  2.021930e-04  0.001258

In [30]:
# Covariance 
mat[0][1]

3.6654160854701273e-06

**Correlation** : est une mesure statistique qui décrit la force et la direction de la relation linéaire entre deux variables. Elle mesure comment les changements d'une variable sont associés aux changements d'une autre variable.

In [31]:
# Correlation matrix
df.corr()

              AMZN  EURUSD=X      GOOG      MSFT      TSLA
AMZN      1.000000  0.032863  0.604081  0.567449  0.352769
EURUSD=X  0.032863  1.000000 -0.007357 -0.009085 -0.012365
GOOG      0.604081 -0.007357  1.000000  0.652180  0.333206
MSFT      0.567449 -0.009085  0.652180  1.000000  0.351776
TSLA      0.352769 -0.012365  0.333206  0.351776  1.000000